##############################################################################
# Freely inspired from https://github.com/sontek/dotfiles.git gitconfig file #
#############################################################################

[user]
    name = Jeremy Carrier
    email = jeremy@sogilis.com

[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto

[core]
    pager = less -R
    editor = vim

[diff]
    tool = gvimdiff

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    putsch = push --force
    amend = commit --amend
    fixup = commit --fixup
    autosquash = rebase -i --autosquash
    dft = difftool
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    track = update-index --no-assume-unchanged
    untrack = update-index --assume-unchanged
    ls-untrack = ls-files -v | grep "^[[:lower:]]"
    #diverges = !bash -c 'diff -u <(git rev-list --first-parent "${1}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -
    #up = !sh -c 'git pull --rebase --prune && git log --pretty=format:\"%Cred%ae %Creset- %C(yellow)%s %Creset(%ar)\" HEAD@{1}..'

[push]
    default = simple
